/*

        Creating a sprite from following images:
        
        app/assets/images/sprites/favicon/360.png (32x32)
        app/assets/images/sprites/favicon/chrome.png (32x32)
        app/assets/images/sprites/favicon/firefox.png (32x32)
        app/assets/images/sprites/favicon/ie.png (32x32)
        app/assets/images/sprites/favicon/safari.png (32x32)

        Output files:
          app/assets/images/sprites/favicon.png
          app/assets/stylesheets/sprites/favicon.scss

        Output size:
          160x32


*/
.favicon_360 { width: 16px; height: 16px; background: url(image-path('sprites/favicon.png')) 0px 0px no-repeat; background-size:80px 16px; }
.favicon_chrome { width: 16px; height: 16px; background: url(image-path('sprites/favicon.png')) -16px 0px no-repeat; background-size:80px 16px; }
.favicon_firefox { width: 16px; height: 16px; background: url(image-path('sprites/favicon.png')) -32px 0px no-repeat; background-size:80px 16px; }
.favicon_ie { width: 16px; height: 16px; background: url(image-path('sprites/favicon.png')) -48px 0px no-repeat; background-size:80px 16px; }
.favicon_safari { width: 16px; height: 16px; background: url(image-path('sprites/favicon.png')) -64px 0px no-repeat; background-size:80px 16px; }
