.bundle
tmp/
coverage/
db/*.sqlite3
db/*.txt
db/*.csv
db/*.cvs
tmp/
log
tmp/**/*
.sass-cache/
public/assets/
public/uploads/**/*
public/sitemap*
.redcar
.DS_Store
*.swp
*.swo
.rvmrc
vendor/ruby
solr/data/
solr/pids/
bin/
firefox.xpi
solr/
