<form class="navbar-search" action="/movies/search">
  <div class="input-append">
    <input type="text" name="q" class="search-query span3" value="<%= params[:q] %>" placeholder="输入关键词，搜索资源">
    <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i></button>
  </div>
</form>
