<li class="span2 item">
  <div class="cover">
    <%= movie_cover_tag(movie,:style => :normal) %>
  </div>
  <div class="rank">
    <%= movie_rank_tag(movie, :style => :small) %>
  </div>
  <div class="name">
    <%= movie_title_tag(movie) %>
  </div>
</li>
